/*

	Style.css for jasperebekah.com
	Author: Jasper Park

*/

/* Color Theme Swatches in RGBA */
.c-darkPink { color: rgba(255, 119, 94, 1); }
.c-pink { color: rgba(255, 149, 131, 1); }
.c-midPink{ color: rgba(255, 181, 165, 1); }
.c-lightPink { color: rgba(255, 207, 198, 1); }
.c-white { color: rgba(255, 255, 255, 1); }

.bg-darkPink { background-color: rgba(255, 119, 94, 1); }
.bg-pink { background-color: rgba(255, 149, 131, 1); }
.bg-midPink{ background-color: rgba(255, 181, 165, 1); }
.bg-lightPink { background-color: rgba(255, 207, 198, 1); }
.bg-white { background-color: rgba(255, 255, 255, 1); }

#main-jumbo {
	min-height: 40vh;
	margin-bottom: 0px;
}

#main-jumbo-container {
	text-align: center;
	text-transform: uppercase;
}

#content-container {
	margin-top: 36px;
	margin-bottom: 36px;

	padding-top: 24px;
	padding-bottom: 24px;

}

#footer-jumbo {
	margin-bottom: 0;
	padding: 36px;
}
